<h1>Random Results</h1>

<p>Minimum
<br><%=@minimum.to_fs%></p

<p>Maximum
<br><%=@maximum.to_fs%></p>

<p>Random Number
<br><%=@result.to_fs%></p>

<a href="/random/new">Pick another random number</a>
