 <form action="/square_root/results">
  <label for="sqrt_number_id">Enter a number</label>
  <input id="sqrt_number_id" name="number" placeholder="What number do you want?">
  <button>Calculate square root</button>
</form>
