<form action="/square/results">
  <label for="square_number_id">Enter a number</label>
  <input id="square_number_id" name="number" placeholder="What number do you want?">
  <button>Calculate square</button>
</form>
